@CHARSET "UTF-8";
.gznrtbdel{
	position:absolute;
	cursor:pointer;
	background:url(../images/delfiles.png) no-repeat;
	background-size:12px 16px;
	width:16px;
	height:16px;
	top:6px;
}
.gznrtbdel:hover{
	top:6px;
	background:url(../images/delhove.png) no-repeat;
	background-size:12px 16px;
	width:16px;
	height:16px;
	position:absolute;
	cursor:pointer;
}
.gznrtbdelTitle{margin-left: 16px;}
.gznrtbdel:hover + .gznrtbdelTitle{text-decoration:line-through;}
.lefttopspan{
	margin-top:5px;
	margin-right:10px; 
	background:url(../images/leftico.png) no-repeat; 
	width:20px; 
	height:21px;
	float:left;
}
.editImgCss{
	display:inline-block;
	vertical-align:middle;
	width:20px;
	height:20px;
	background-size:20px;
}
.newlgnTreeBtnSelected{
	background:#35a9e1;
	color:#fff !important;
}
.newlgnTreeBtnSelected i{
	display: block;
	background: url(../images/sj.png) no-repeat;
	width: 6px;
	height: 14px;
	position: absolute;
	right: 0px;
	z-index: 10000;
	top: 7px;
}
.ppovNormalinp{
	width:100px;
	height:16px;
	font-size:12px;
}
.ppovDiffinp{
	width:100px;
	height:16px;
	font-size:12px;
	background-color:red;
	color:white;
}
.btn_for_zcexamine{
	display:inline-block;
	width:70px;
}
.importMapIpt{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 30px;
	direction: ltr;
	cursor: pointer;
}
.gridtp{
	display:block;
	width:100%;
	overflow: hidden;
}
.zoneLValMap{
	width:50%;
	height:100%;
	float:left;
	margin-left:-1px;
	border-right:1px solid #DDDDDD;
	border-top:1px solid #DDDDDD;
}
.zoneRValMap{
	width:50%;
	height:100%;
	float:right;
	
	border-top:1px solid #DDDDDD;
}
		.well-small {
/* 		    border-radius: 3px 3px 3px 3px; */
		    padding-top: 9px;
		    padding-bottom: 9px;
		}
		.well {
		    background-color: #F5F5F5;
		    border: 1px solid #E3E3E3;
/* 		    border-radius: 4px 4px 4px 4px; */
		    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
		    margin-bottom: 5px;
		    /*min-height: 20px;*/
		    padding-top: 5px;
		    padding-bottom: 5px;
		}
		.badge {
			background-color: #B94A48;
		    border-radius: 9px 9px 9px 9px;
		    padding-left: 9px;
		    padding-right: 9px;
		    color: #FFFFFF;
		    display: inline-block;
		    font-size: 11.844px;
		    font-weight: bold;
		    line-height: 14px;
		    padding: 2px 4px;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		    vertical-align: baseline;
		    white-space: nowrap;
		}
		.label-info{
		    background-color: #3A87AD;
		    border-radius: 3px 3px 3px 3px;
			color: #FFFFFF;
		    display: inline-block;
		    font-size: 11.844px;
		    font-weight: bold;
		    line-height: 14px;
		    padding: 2px 4px;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		    vertical-align: baseline;
		    white-space: nowrap;
		}
		.unsupported-browser{
			width:100%;
			left: 0;
			top: 0;
			margin:0px;
			display:none;
			position: fixed;
			z-index: 10000;
			background-color: #F5F5F5;
		    border: 1px solid #E3E3E3;
		    color: #393939;
		    border-radius: 4px 4px 4px 4px;
		    margin-bottom: 18px;
    		padding: 8px 35px 8px 14px;
    		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		}
		