@charset "utf-8";
@font-face {
    font-family: 'LigatureSymbols';
    src: url('fonts/LigatureSymbols/LigatureSymbols-2.11.eot');
    src: url('fonts/LigatureSymbols/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('fonts/LigatureSymbols/LigatureSymbols-2.11.woff') format('woff'),
         url('fonts/LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype'),
         url('fonts/LigatureSymbols/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('fonts/LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{margin:0; padding:0; list-style:none;
font-weight:500;
font: 14px/1.5 Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
text-shadow:1px 1px rgba(100, 100, 100, 0.1);
}
body{margin:0 auto;min-width:1100px;overflow:hidden !important;background:#e9f0f5;}
img{ border:0;  }
a{ text-decoration:none;font-weight:400;}

#hnphone{overflow:hidden !important;}
#uchagpswd{overflow:hidden !important;}
#hnusername{overflow:hidden !important;}
#AllMsgListXD{overflow:hidden !important;}
.userInfoOpeaList {
    height: 20px;
    line-height: 20px;
    padding: 7px 0px;
    cursor: pointer;
}
.userInfoOpeaList a{
	color: #666;
	font-size: 12px;
	display:inline-block;
	width:150px;
	padding:0px 10px 0px 20px;
}
.userInfoOpeaList a:hover{
	color:#fff;
	background-color:#666;
}
.userInfoOpeaList a i{color:#666;}
.userInfoOpeaList a:hover i{color:#fff;}
.divider {
    height: 1px;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff;
}
.newSignUp{position:absolute;top:0px;border-radius: 0px 0px 6px 6px;font-size:14px;cursor: pointer;padding:5px 15px;background:rgba(56,177,238,0.9);color:white;}
.newSignUp:hover{color:#ddd;}
#slx .datagrid{margin-left: 20px;}
#slx .datagrid-header{height:0px !important;}
#slx .datagrid-row:hover{cursor:pointer;}
#slx .datagrid-row:hover{color:#455a64;}
#slx .datagrid-row:hover a{color:#c27ad3;}
#slx .datagrid-pager{position:fixed;left:0px;bottom:0px;width:100%;}
#slx .pagination-info{margin:6px 16px 0 0;font-size:13px;}
.dropdown-headern{padding:24px 20px;color:#ffffff;display:block;margin-bottom:0;font-size:.875rem;white-space:nowrap;}
.a-dropdown__header-titlen{font-size:18px;font-weight:500;display:block;}
.accent-bgn{background:#00DB00;}
.dropdown-header{padding:10px 1.5rem;color:#ffffff;display:block;margin-bottom:0;font-size:.875rem;white-space:nowrap;}
.a-dropdown__header-title{font-size:15px;font-weight:500;display:block;}
.accent-bg{background:#00db00;border-bottom:1px solid #f4f4f4;}
.a-dropdown__header-subtitle{font-size:13px;font-weight:300;}
a.dropdown-item.view-all{background:#fff;border-top:1px solid #f4f4f4;padding:0.6rem 1.5rem;display:block;clear:both;font-weight:300;line-height:1.42857143;}
.msglistul li{position:relative;padding: 16px 20px;border-bottom: 1px solid #eaeff5;}
.msglistul li i{position:absolute;}
.msglistul li:hover >a{color:#c27ad3;}
.msglistul li:hover >i{color:#c27ad3;}
.msglistul li a{margin-left:20px;}
.msglistul li span{font-size:10px;color:#677897;position:absolute;right:15px;}
.AllMsgListXDul li:hover >a{color:#c27ad3;}
.AllMsgListXDul li:hover >i{color:#c27ad3;}
.AllMsgListXDul{padding-top:10px;width:200px;display:inline-block;height:200px;overflow-x:hidden;overflow-y:auto;background:#f0f3f6;text-align:center;border-left: 1px solid #eee;border-right: 1px solid #ddd;}}
#msglisthp{overflow:hidden !important;border-radius: 6px;}
.msglistul{height:200px;overflow-x:hidden;overflow-y:auto;}
.text-center{text-align: center !important;}
.newEmailNum{display:inline-block;border-radius:50%;width:15px;height:15px;line-height:15px;font-size:3px;background:red !important;color:white;position: absolute;
    top: 6px;
    left: 7px;
    z-index: 1;
    text-align: center;}
.sgupbtn{font-family:'Open Sans','Helvetica','Arial',sans-serif;font-weight:400;font-size:13px;line-height:15px;border-radius:5px;padding:8px 20px;margin-top:5px;background:#23b7ef;color:#fff;cursor:pointer;border:none;-moz-border-radius:5px;-webkit-border-radius:5px;}
		.sgupbtn:hover{background: #0d89b8;}
    .signup_form_div{width:100%;margin-bottom:5px;position:relative;}
    	.signup_form_div label{margin-bottom:5px;font-size:13px;font-weight:600;display:inline-block;width:100%;line-height:14px;color:#6d6d6d;}
		.minimal{border-top:none;border-right:none;border-left:none;padding:3px 0px;width:100%;background:#f3f3fa;border-bottom:1px solid #ddd;line-height:26px;height:26px;}
		.signup_form_div input:focus,.signup_form_div input:active:focus,.signup_form_div input.active:focus,.signup_form_div input .focus,.signup_form_div input:active.focus,.signup_form_div input.active.focus{outline:none;}
		.signup_form_div button:focus,.signup_form_div button:active:focus,.signup_form_div button.active:focus,.signup_form_div button .focus,.signup_form_div button:active.focus,.signup_form_div button.active.focus{outline:none;}
		input::-webkit-input-placeholder{color:#677897;}input::-moz-placeholder{color:#677897;}input:-moz-placeholder{color:#677897;}input:-ms-input-placeholder{color:#677897;}
		::-webkit-input-placeholder {font-size:12px;} :-moz-placeholder {font-size:12px;} ::-moz-placeholder {font-size:12px;} :-ms-input-placeholder {font-size:12px;}
.UserAliLogin{float:right;position:relative;color:#fff;cursor:pointer;font-size:15px;}
.UserAliLogin div:hover{background:rgba(0,0,0,0.1);}
.userloginIsInUser{background:rgba(0,0,0,0.1);}
.emnotion{left:-10px;color:#fff;font-size:16px;}
.emnotion:hover{color:#ddd;}
.UserAliLogin i{top:2px;}
.forgotmm{    font-size: 12px;
    color: blue;
    cursor:pointer;
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-right: 20px;}
.newuserreg{    font-size: 12px;
    color: blue;
    cursor:pointer;
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 26px;}
#zlight-nav{background:#29b1f0 !important;}
.pipt{margin-top:10px;position:relative;text-align:center;}
.ipt{border: 1px solid #d3d3d3;
	padding: 10px 10px;
	width: 290px;
	padding-left: 40px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.ipt:focus{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.u_close{
	position:absolute;    right: 10px;
    top: 10px;cursor:pointer;
    color: #ddd;
}
.u_close:hover{color:#777;}
.u_logo{position:absolute;left:36px;
    top: 5px;
    font-size: 23px;font-family: 'LigatureSymbols';}
.u_logo:before{font-family: 'LigatureSymbols';font-style: normal;
-webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content:'\E137';}
.p_logo{position:absolute;left:39px;
    top: 7px;
    font-size: 22px;font-family: 'LigatureSymbols';}
.p_logo:before{ font-family: 'LigatureSymbols';font-style: normal;
-webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content:'\E086';}
#submit_btn{background:linear-gradient(to right, rgb(0, 197, 251) 0%, rgb(35, 129, 221) 100%);
    padding: 7px;
    cursor:pointer;
    border: 1px solid #eee;
    border-image: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 327px;
    display: block;
    text-align: center;
    margin-left: 23px;
    margin-top: 10px;}
.userLoginedSqr{position:relative;display:inline-block;height:45px;padding-right:10px;padding-left:5px;line-height:44px;color:#fff;}
#authenticationResult{display:block;width:343px;height:20px;margin-top:15px;color:red;margin-left:25px;font-size:14px;}
.topbar{background:#fff;overflow:hidden;position:relative;height:215px;overflow:hidden;box-shadow:0 0 10px rgba(0,0,0,.15);}
.notePanel{height:44px;background:#ffffff;border:1px solid #ededed;width:1040px;margin-left:auto;margin-right:auto;box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);border-radius:6px;position:relative;}
.txtLeftTitle{display:inline-block;width:110px;height:44px;line-height:44px;position:absolute;left:40px;color: rgb(47,47,47);font-weight:bold;}

.txtMarquee-left{width:90%;display:inline-block;position:relative;margin-left:110px;}
.txtMarquee-left .bd{padding:10px;}
.txtMarquee-left .bd .tempWrap{width:100% !important;}
.txtMarquee-left .bd ul{overflow:hidden;zoom:1;}
.txtMarquee-left .bd ul li{margin-right:25px;float:left;height:24px;line-height:24px;text-align:left;_display:inline;width:auto !important;  }
.txtMarquee-left .bd ul li a{margin-right:10px;}
.txtMarquee-left .bd ul li span{color:#999;font-size:12px;}

.txtScroll-top{ height:45px;line-height:45px;width:90%;display:inline-block;margin-left:110px;overflow:hidden; position:relative;}
.txtScroll-top .hd{ overflow:hidden;  height:30px; background:#f4f4f4;}
.txtScroll-top .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; }
.txtScroll-top .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:url("images/icoCircle.gif") 0 -9px no-repeat; }
.txtScroll-top .hd ul li.on{ background-position:0 0; }
.txtScroll-top .bd{padding-top: 10px;padding-left: 5px;}
.txtScroll-top .infoList li{ height:24px; line-height:24px;text-align:left;}
.txtScroll-top .infoList li a{display:inline-block;margin-right:10px;color: rgb(47,47,47);}
.txtScroll-top .infoList li:hover a{color:#c27ad3;}
.txtScroll-top .infoList li span{color:#677897;font-weight:300;font-size:95%;cursor:pointer;}
.xxdt{
	position: absolute;
    font-size: 30px;
    top: 9px;
    left: 34px;
}
.xxdt:before{font-family: 'LigatureSymbols';font-style: normal;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  content:'\E04a';}
.xxjl{
	position: absolute;
    font-size: 30px;
    top: 9px;
    left: 34px;
}
.xxjl:before{font-family: 'LigatureSymbols';font-style: normal;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  content:'\E035';}
.jxjy{
	position: absolute;
    font-size: 34px;
    top: 5px;
    left: 32px;
}
.jxjy:before{font-family: 'LigatureSymbols';font-style: normal;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  content:'\E174';}
.dfkx{
	position: absolute;
    font-size: 30px;
    top: 9px;
    left: 34px;
}
.dfkx:before{font-family: 'LigatureSymbols';font-style: normal;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  content:'\E113';}
.zxfw{
	position: absolute;
    font-size: 33px;
    top: 9px;
    left: 34px;
}
.zxfw:before{font-family: 'LigatureSymbols';font-style: normal;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  content:'\E041';}

.dataintable{margin-top: 5px;
border-collapse: collapse;
border: 1px solid #aaa;
margin-left:auto;margin-right:auto;
width: 100%;}
.browersupport{
border-collapse: collapse;}
.browsersupport th{
	padding: 0;
height: 25px;
vertical-align: middle;
text-align: center;
background-color: #F5F5F5;
border: 1px solid #ddd;
}
.dcrme{display: inline-block;
    height: 20px;margin-left: 35px;
    line-height: 20px;}
.dcrme:hover{color:#c27ad3;cursor:pointer;}
.alert{border-radius:none;}
#loginSupportLy{overflow:hidden !important;border-radius:6px;}
.browsersupport td{
	padding: 0;
height: 86px;
width: 86px;
vertical-align: middle;
background: #fdfcf8 no-repeat center;
border: 1px solid #ddd;}
.bsChrome{background-image: url('../../static/images/compatible_chrome.png') !important;}
.bsFirefox{background-image: url('../../static/images/compatible_firefox.png') !important;}
.bsSafari{background-image: url('../../static/images/compatible_safari.png') !important;}
.bs360{background-image: url('../../static/images/360llqset.png') !important;}

.divHpPgTitle{
	height:40px;line-height:40px;font-size:25px;cursor:pointer;
	padding-left:65px;padding-top:15px;padding-bottom:5px;
	word-spacing:1px; letter-spacing: 1px;position:relative;
}
.divHpPgTitle:hover{color:#c27ad3;}
.yqlj li:hover a{color:#c27ad3;}
.show-more{
	position:absolute;
	width: 30px;
height: 30px;
line-height: 30px;
background: #ffffff;
box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
display: inline-block;
text-align: center;
border-radius: 50%;
font-size: 12px;
font-weight: 600;
right: 30px;
    top: 15px;
}
.ti-arrow-right:before{content:url(finance_41.png);top:7px;position:absolute;left:8px;}
.mainHpPgTimeFlag{position:absolute;right:2px;color:#677897 !important;font-size:90%;font-weight:300;}
.ul_1_right{margin-left:20px;margin-right:25px;border-top:1px solid #f1f1f1;    padding-top: 10px;}
.ul_1_right li{padding:7.5px 3px;position:relative;cursor:pointer;background:url('../imagess/sanjiao.jpg') no-repeat left center;padding-left:14px;}
.ul_1_right li a:first{color:#455a64;}
.ul_1_right li:hover a{color:#c27ad3;cursor:pointer;}
#mainModalTb tr{height:410px;}
#plTtleshowax:hover a{color:white;}

.tbLeftSqr{width:500px;height:400px;background:#fff;border:1px solid #ededed;overflow:hidden;border-radius:6px;box-shadow:0 1px 0 rgba(0,0,0,0.3);}
.tbLeftSqr a{color:#000;}
.mainHpPgFooter{text-align:center;font-size:12px;background:#f8f8f8;padding:15px;color:#444;}

a:hover{color:black;}
.txtForHicon{bottom:0px;position: absolute;left:21px;letter-spacing:1px;}
.containerForHicon{
display:inline-block;position:relative;width:100px;height:120px;line-height:120px;text-align:center;margin-left:12px;margin-top:20px;}
.plTtswdadj{margin-left:auto;margin-right:auto;width:837px;margin-top:20px;padding-bottom: 20px;text-align:left;
    border-bottom: 1px solid #eee;}
.plTtauthAdj{position:absolute;top:15px;}
#wlcmSpg{background:#fff;border: 1px solid #ededed;margin:0px auto;border-radius:0 0 4px 4px;box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);width:700px;}
#wlcmSpgTopTitle{font-size:22px;text-align:center;padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
			font-family: 黑体;letter-spacing:1px;color: #000;font-weight: bold;line-height: 27px;}
#wlcmSpgMainPl{font-size: 15px;text-indent:1px;color:rgb(102, 102, 102);word-break: break-all;padding: 20px 20px 50px 20px;line-height: 30px;}
#wlcmSpgMainPl strong{font-weight:bold !important;font-size:16px;}
#wlcmSpgMainPl > div{width:660px !important;margin:0px !important;}
.to-top{position:fixed;bottom:20px;right:20px;background: #3498db; color: #fff;    width: 40px;    border-radius: 3px;display:none;
    height: 40px;
    line-height: 40px;cursor:pointer;
    text-align: center;
    opacity: 0.5;}
.to-top:hover{opacity:1;color:#fff;}
#wlcmSpgMainPl img{display:block;width:660px;margin:15px auto;border-radius:3px;}
#wlcmSpgMainPl p{text-indent: 33px;
    box-sizing: border-box;
color: rgb(47, 47, 47);
display: block;
font-family: -apple-system, "SF UI Text", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight:400;
    text-align: justify;
text-shadow:1px 1px rgba(100, 100, 100, 0.1);}
#wlcmSpgMainPl table{width:660px !important;margin-left: auto;margin-right: auto;}
#wlcmSpgMainPl table td{padding-left:5px;padding-right:5px;}
#wlcmSpgMainPl table p{
	text-indent: 0px;
    font-family: "微软雅黑";
    font-size: 14px !important;
    line-height: 35px!important;
    font-weight:400;
    text-align: justify;
text-shadow:1px 1px rgba(100, 100, 100, 0.1);
}
#wlcmSpgMainPl span{text-indent: 33px;
    font-family: "微软雅黑";
    font-size: 17px !important;
    line-height: 32px!important;
    text-align: justify;
    white-space:normal !important;
text-shadow:1px 1px rgba(100, 100, 100, 0.1);}
.subSpilter{    border-bottom: 1px dotted #ddd;
    height: 0px;
    margin-left:auto;margin-right:auto;
    width: 720px;}
#wlcmSpilter{margin: 0px 70px 20px 70px;height:25px;position:relative;
             text-align:center;line-height:20px;font-size:13px;color:#888;letter-spacing:1px;}
#wlcmSpilter span{display:inline-block;margin-left:20px;}
#wlcmAttachMent{position:relative;padding-left:60px;padding-top:10px;
	margin-left:70px;margin-right:70px;line-height:29px;margin-bottom:40px;
}
#wlcmAttachMent li a{color:#555;}
#wlcmlcContainer{width:1100px;margin-left:auto;margin-right:auto;}
.wlcmAttachTopBd{border-top:2px solid #e1e1e1;}
.AttachmentTitle{display:inline-block;position:absolute;left:25px;top:10px;}
.gznrtbfile {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6px;}
.lineSpaceDiff{display:inline-block;height:30px;line-height:30px;width:40px;}

.pagination .l-btn{width:30px;}

.mainListUl{padding-left:20px;padding-right:20px;}
.mainListLi{
	    height: 120px;
	position:relative;text-align: left;
	margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #e3e3e3;
}
.mainListpic{width: 40px;display:inline-block;
    margin-right: 10px;}
.mainListpic div{
	background-size:cover !important;
	background-repeat:no-repeat !important;
	background-position:center !important;
	overflow:hidden;
	width:220px;
	height: 120px;
    transition: 0.5s;
    border: 0;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    top: 0px;
}
.mainListpic span{    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 20px;
    background: darkorange;
    color: #fff;
    line-height: 20px;
    text-align: center;
    font-size: 12px;}
.quick_desc{
	margin-top: -25px;
    margin-left: 240px;
	display:inline-block;
	width: 510px;
    height: 142px;
    position:relative;
    float: left;
}
.quick_desc_title{
	cursor:pointer;
    display: block;
	    font-size: 20px;
    color: #333;text-align: left;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.quick_desc_title:hover{color:#c27ad3;}
.quick_desc .introduction{
	    font-size: 14px;
    color: #666;
    height: 85px;text-align: left;
    margin-top: 10px;
    display:inline-block;
    overflow: hidden;
}
.quick_desc .time{
	    font-size: 13px;
    color: #999;
    text-align: left;
        display: block;
    padding-left: 25px;
    font-weight:100;
        position: relative;
}
.quick_desc .time i{position: absolute;
    left: 1px;
    top: -1px;}
.mainListLi-nopic .quick_desc{width:690px;margin-left:60px;}
.mainListCntLd{display:inline-block;width:220px;background:#fff;cursor:pointer;padding: 20px 20px 10px 20px;
                   margin-left: 830px;top:60px;position:fixed;border: 1px solid #ededed;
			   border-radius:0 0 4px 4px;box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);}
.mainListCntLd .navbarx{padding:7px 15px;letter-spacing:1px;margin-bottom:15px;overflow:hidden;
			   text-decoration: none;text-align:center;cursor:pointer;position:relative;border-radius:3px;
    border:1px solid #ddd;}

.mainListCntLd .navbarx:hover{background:#38b1ee;color:#fff;border:1px solid #38b1ee;}
.navbarx_clk{background:#38b1ee !important;color:#fff !important;border:1px solid #38b1ee !important;}
.mainListCntDg{display:inline-block;width:800px;background:#fff;
			   position: absolute;left:0px;top:0px;border: 1px solid #ededed;
			   border-radius: 4px;box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);}
.mainListCntTitle{margin-bottom:15px;position:relative;
				letter-spacing:1px;font-size:15px;}
.mainListCntTitle div{position: absolute;
    left: 25px;
    top: -3px;width: 32px;
    height: 32px;
    border: 1px solid darkgray;
    border-radius: 50%;
    display: inline-block;}
.mainListCntTitle i{position: absolute;
    top: 1px;
    left: 33px;
    color:#008fff;
    font-size: 17px;}
.mainListCntTitle span{font-size: 20px;margin-left:75px;}
.mlctSpliter{display:inline-block;width:0px;float: left;
    margin-left:5px;height:40px;border-left:1px solid #fff;border-right:1px solid #fff;}	   
.datagrid-body td,.datagrid-footer td{border-width:0px 0px 1px;border-style:dotted;margin:0px;padding:0px;}
.trangelright{display:inline-block;margin-right:20px;width:0;height:0;border-top:3px solid transparent;border-left:6px solid #999;border-bottom:3px solid transparent;}
.yqlj{margin-left:auto;margin-right:auto;width:900px;height:130px;margin-top:30px;border-bottom: 1px solid #d6d6d6;padding-bottom:10px}
.ac-gf-directory-column{box-sizing:border-box;position:relative;z-index:1;padding:0;float:left;min-height:2px;margin-right:50px;text-align:left;}
.ac-gf-directory-column-section-list{margin-right:20px;list-style:none;padding:0;}
.ac-gf-directory-column-section-item{display:block;pointer-events:auto;margin-bottom:1px;}
.ac-gf-directory-column-section-link{font-size:12px;color:#555;text-decoration:none;}
.ac-gf-directory-column-section-title{font-size:11px;cursor:default;line-height:1.27273;font-weight:600;letter-spacing:.005em;margin:0;margin-bottom:4px;}
.lockBody{overflow:hidden !important;}
#itmbrrecmitlyr{overflow:hidden !important;}
#itmbrrecmitlyr strong{font-weight:bold;}
#itmbrrecmitlyr p{line-height:25px;}
#itmbrrecmitlyr div{height:auto !important;padding:10px;width:380px;border-radius:6px;}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {overflow: hidden;position: absolute;left: 0;right: 0;bottom: 0;top: 0;margin: auto;}
.waveWrapperInner {position: absolute;width: 100%;overflow: hidden;height: 100%;bottom: -1px;}
.bgTop {z-index: 15;opacity: 0.5;}
.bgMiddle {z-index: 10;opacity: 0.75;}
.bgBottom {z-index: 5;}
.wave {position: absolute;left: 0;width: 200%;height: 100%;background-repeat: repeat no-repeat;background-position: 0 bottom;transform-origin: center bottom;}
.waveTop {background-size: 50% 70px;}
.waveAnimation .waveTop {animation: move-wave 3s;-webkit-animation: move-wave 3s;-webkit-animation-delay: 1s;animation-delay: 1s;}
.waveMiddle {background-size: 50% 90px;}
.waveAnimation .waveMiddle {animation: move_wave 10s linear infinite;}
.waveBottom {background-size: 50% 70px;}
.waveAnimation .waveBottom {animation: move_wave 15s linear infinite;}
.myregmsglistinx{
	width: 140px;
    display: inline-block;
    position: relative;
    padding: 5px 12px;
    border-radius: 6px;
    margin: 2px;
    border: 1px solid #ededed;
    overflow: hidden;
    box-shadow: 0 1px 0 rgba(0,0,0,0.3);background:#fff;
}
.myregmsglistinx p{cursor:default;font-size:12px;text-align:center;color:#aaa;}
#xhfile_list .mainListpic img {width:70px !important;left:30px !important;height:70px !important;overflow:hidden;transition:0.5s;border:0;vertical-align:middle;position:absolute;left:0px;top:0px;}
    	#xhfile_list .quick_desc{margin-left:120px !important;margin-top:0px !important;width:500px !important;height:70px !important;}
    	#xhfile_list .mainListLi{height:70px !important;}
    	#xhfile_list .quick_desc .time {padding-left:0px !important;}
    	#xhfile_list .btn_plugin_style{padding:3px 7px;margin-right:2px;}
    	#xhfile_list .btn_plugin_style i{font-size:18px;color:#0b386e;}
#plTtleshow li:hover a{color:#fff !important;}
#zlfilezx .mainListpic img {width: 70px !important;
    						left:30px !important;
    					  height: 70px !important;
    					  overflow: hidden;
    transition: 0.5s;
    border: 0;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    top: 0px;}
    	#zlfilezx .quick_desc{margin-left:120px !important;margin-top:0px !important;width:500px !important;height:70px !important;}
    	#zlfilezx .mainListLi{height:70px !important;}
    	#zlfilezx .quick_desc .time {padding-left:0px !important;}
    	#zlfilezx .btn_plugin_style{padding:3px 7px;margin-right:2px;}
    	#zlfilezx .btn_plugin_style i{font-size:18px;color:#0b386e;}