<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.jsslnyxxh.app.repository.account.LogDao">

	<!-- 更具参数分页查找用户 -->
	<select id="listLog" resultType="java.util.HashMap" parameterType="map">
	    select * from sys_log order by time desc
	</select>

	<select id="execSql" resultType="java.util.HashMap" parameterType="Map">
		${sql}
	</select>
	
	<select id="getCount" resultType="int" parameterType="Map" >
	  	<![CDATA[
	  		select count(1) from sys_log
		]]>
	</select>
	
	<insert id="insertLog" parameterType="Map">
    	insert into sys_log(
    		ID,
    		IP,
    		OPEARTER,
    		LOG_TYPE,
    		TIME,
    		DESCRIBE,
    		OPEATE_DETAIL,
    		USER_ID
    	) 
    	values (
    		#{ID},
    		#{IP},
    		#{OPEARTER},
    		#{LOG_TYPE},
    		#{TIME},
    		#{DESCRIBE},
    		#{OPEATE_DETAIL},
    		#{USER_ID}
    	)
	</insert>
</mapper> 
